!!! 5
%html{:lang => 'en'}
  %head
    %title= 'ListenToThis'

    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => 'Listen to the hot songs in /r/ListenToThis'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}

    %link{:href => '/favicon.png', :rel => 'shortcut icon'}

    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/css/index.css", :rel => "stylesheet"}

%body
  .container
    .logo.pull-left
    .title.pull-left
      %h1= 'Listen to This!'
      %p.lead= 'All the hot songs from /r/ListenToThis'