!!! 5
%html{:lang => 'en'}
  %head
    %title= 'ListenToThis'

    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => 'Listen to the hot songs in /r/ListenToThis'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}

    %link{:href => '/favicon.png', :rel => 'shortcut icon'}

    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/css/index.css", :rel => "stylesheet"}
    %script{:src =>'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'}
    %script{:src =>'js/youtubeplay.js'}

    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"}
    %script{type: "text/javascript", src: "//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.0.3/backbone.marionette.min.js"}
    %script{type: "text/javascript", src: "js/ltt.js"}
    %script{type: "text/javascript", src: "js/models/redditLink.js"}
    %script{type: "text/javascript", src: "js/collections/redditLinksCollection.js"}

%body
  .container.text-center
    %h1= 'Listen to This!'
    %p.lead= 'All the hot songs from /r/ListenToThis'
    #ytapiplayer 'You need Flash player 8+ and JavaScript enabled to view this video.'
