%html
  %head
    %title= 'ListenToThis'

    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "css/index.css", :rel => "stylesheet"}

%body
  %span= 'Hello!'
  %i.fa.fa-spinner.fa-thumbs-up