@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg") format("svg"); }
body {
  font-family: 'FontAwesome';
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased; }
