.photo {
  $shadow-distance: 3px;
  $shadow-blur: 2px;
  $border-size: 12px;

  box-shadow: $shadow-distance $shadow-distance $shadow-blur $shadow-blur rgba(black, 0.5);
  border: $border-size solid white;
  border-radius: 2px;
  padding: 1px;

  &.left {
    transform: rotate(-2deg);
  }

  &.right {
    transform: rotate(3deg);
  }
}