.aspect-container {
  position: relative;
  width: 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 75%;
  }
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  $shadow-distance: 3px;
  $shadow-blur: 2px;
  $border-size: 12px;

  box-shadow: $shadow-distance $shadow-distance $shadow-blur $shadow-blur rgba(black, 0.5);
  border: $border-size solid white;
  border-radius: 2px;
  padding: 1px;

  &.left {
    $transform: rotate(-2deg) translate3d(0, 0, 0);
    transform: $transform;
    -webkit-transform: $transform;
    -ms-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
  }

  &.right {
    $transform: rotate(3deg) translate3d(0, 0, 0);
    transform: $transform;
    -webkit-transform: $transform;
    -ms-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
  }
}