.playlist {
  $gray: #757575;

  background-color: white;
  margin-top: 5vw;

  @media (min-width: 768px) { margin-top: 0; }

  ul {
    overflow-y: scroll;
    height: 100%;

    margin: 0;
    padding: 0;
    border-left: 1px dashed $gray;
    border-right: 1px dashed $gray;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .ul-border {
    height: 2px;
    border-top: 1px dashed $gray;
  }

  li {
    color: $gray;
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
    border-right: 1px dashed $gray;
    height: 30px;
    width: 100%;

    .title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }

    .link {
      display: none;
      text-align: right;
      position: relative;
      top: -4px;
    }

    &:not(:last-child) {
      border-bottom: 1px dashed $gray;
    }

    &:nth-child(even) {
      background-color: #fffefa;
    }

    &:nth-child(odd) {
      background: #f7f2eb;
    }

    &:hover {
      .title {
        width: 95%;
      }

      .link {
        display: inline-block;
        width: 5%;

        &:hover {
          color: black;
        }
      }

      background-color: $gray;
      color: white;

      &:active {
        color: white;
      }
    }

    &.playing {
      background-color: $blue;
      color: white;
    }

    &:active {
      color: black;
    }
  }
}