.playlist {
  $gray: #757575;

  background-color: white;
  margin-top: 30px;

  @media (min-width: 768px) { margin-top: 0; }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
  }

  ::-webkit-scrollbar-track {
    border-left: 1px dashed $gray;
    background-color: #eee;
  }


  ul {
    overflow-y: scroll;
    height: 100%;

    margin: 0;
    padding: 0;
    border-left: 1px dashed $gray;
    border-right: 1px dashed $gray;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .ul-border {
    position: relative;
    z-index: 1000;
    height: 1px;
    border-top: 1px dashed $gray;
  }

  li {
    color: $gray;
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
    width: 100%;

    .title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;

      .genre {
        margin-left: 5px;
        color: lighten($gray, 25%);
      }
    }

    .link {
      display: none;
      text-align: right;
      position: relative;
      top: -4px;
    }

    &:not(:last-child) {
      border-bottom: 1px dashed $gray;
    }

    &:nth-child(even) {
      background-color: #fffefa;
    }

    &:nth-child(odd) {
      background: #f7f2eb;
    }

    &:hover {
      .title {
        width: 95%;
      }

      .link {
        display: inline-block;
        width: 5%;

        &:hover {
          color: black;
        }
      }

      background-color: $gray;
      color: white;

      &:active {
        color: white;
      }
    }

    &.playing {
      background-color: $blue;
      color: white;
    }

    &:active {
      color: black;
    }
  }
}